body {
  background-color: #E3CDC1;
}

.navbar-brand {
  padding-top:0px;
  margin-top: 0px;
  height:80px;
}

.logo-image {
  width: 7%;
  border-radius: 5%;
  position: absolute;
  z-index: 1;
}

.navbar {
  background-color: #BA7967
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #BA7967;
}

.headingStyle {
  background-color: #FFCB74;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  font-family: "Open Sans Condensed", sans-serif;
  color: #BA7967;
  font-size: 30px;
}

.carouseH51 {
  color:white;
  font-weight: bold;
  font-size:30px;
}

.carouseH52 {
  color:white;
  font-weight: bold;
  font-size:30px;
}

.carouselText1 {
  color:white;
  font-weight: bold;
  font-size: 20px;
}

.carouselText2 {
  color:white;
  font-weight: bold;
  font-size: 20px;
}

.carouseH53 {
  color:black;
  font-weight: bold;
  font-size:30px;
}

.carouselText3 {
  color:black;
  font-weight: bold;
  font-size: 20px;
}

.card-row {
  background-color: #5E6F64;
}

.card-div {
  margin: auto;
  background-color: #5E6F64;
}

.card {
  margin: 30px auto 30px auto;
}

.btn-primary {
  background-color: #5E6F64;
  border-color: #fff8d9;
  color: #fff8d9;
}

.accordion-button {
  height: 80px;
}

.fashionJewelryButton:hover{
  background-color: #FFCB74;
  border-color: #FFCB74;
  color:#5E6F64;
}

.fashionJewelryDetail {
  background-color: #FFCB74!important;
  border-color: #FFCB74!important;
  font-family: "Open Sans Condensed", sans-serif;
  color: #BA7967!important;
  font-size: 30px;
  text-align: center;
  border-color:#FFCB74;
  display:block;
  height: 80px;
}

.whatIs {
  font-style: italic;
  font-size: 20px;
}

.whatIs:hover {
  color:#5E6F64;
}

.jewelryDetail {
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
}

h5 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  color:black;
  font-size: 30px;
}

.card-text {
  color:black;
  font-style: "Open Sans Condensed", sans-serif;
  font-style: bold;
  font-size: 15px;
}

.aboutUs {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  text-align: center;
  font-size:30px;
  color: #BA7967;
  padding-bottom: 40px;
}


footer {
  background-color: #BA7967;
  padding: 30px;
  text-align: center;
  position: relative;
  padding: 50px 0 20px;
}

.footer-icon {
  padding: 8px;
  color:#E3CDC1
}

.footer-icon:hover {
  color: #FFCB74;
}

.copyright{
  color:#E3CDC1;
}

.more-details:hover {
  background-color: #FFCB74;
  border:#BA7967;
  color:#BA7967;
}

a:hover {
  color: #FFCB74;
}

.footer-link {
  margin: 10px 20px 10px;
  color: #efe2ba;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.copyright {
  margin-top: 20px;
  font-size: 15px;
}

@media (max-width: 1028px) {
  .logo-image {
    width: 20%;
    border-radius: 5%;
    /* position:absolute; */
    /* z-index: 1;
    margin-left: 20%;
    padding-bottom: 20px;
    margin-top:0px; */
  }
  h1 {
      padding-top: 50px;
  }
  h5 {
    font-family: "Open Sans Condensed", sans-serif;
  }

  p {
    font-size:20px;
  }

  .fashionJewelryDetail {
    height: 175px;
  }

  .accordion-button {
    height: 80px;
  }
}
